node_modules
.idea
.idea/vcs.xml
.idea/mongodb-pipeline-builder.iml
.idea/*
dist
coverage
reports
documentation
test-report.xml
000.DEVELOP.refresh-local-project.cmd
000.FEATURE.refresh-local-project.cmd
tests
save

